<%= form_for([@doi_objects, @url_object]) do |f| %>
  <% if @url_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url_object.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @url_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-align">
    <%= f.text_field :url, placeholder: "Enter new URL" %>
  </div>
  <div class="actions text-align">
    <%= f.submit %>
  </div>
<% end %>