<div class="small-panel bottom padding-top center panel-small">
<% if current_page > 1 %>
	<%= link_to "1 ", my_answers_path(current_user, page: 1) %>
	<%= link_to my_answers_path(current_user, page: current_page -1 ) do %>
			<i class="step fi-rewind"></i>
		<% end %>
	<% end %>
		<strong><%= link_to current_page, my_answers_path(current_user, page: current_page) %></strong>
	<% unless current_page >= pages %>
	<%= link_to my_answers_path(current_user, page: current_page + 1 ) do %>
			<i class="step fi-fast-forward"></i>
		<% end %>
	<%= link_to pages, my_answers_path(current_user, page: pages) %>
	<% end %>
</div>

