 <h5 class="right-corner"> <p><%= @current_page %></p></h5>
<%= button_to 'New Post?', new_post_path, :method => :get, :class => 'button absolute top left padding-left padding-top black'%>
<div id="index-container" class="center">
  <% if !@details_message.nil? && !@details_message.blank? %>
    <h5 class="text-left"><%= " " + @details_message + " " %></h5>
  <% end %>
<% @answers.each do |answer| %>
  <div class="row relative block panel index low-padding">
    <div class="large-12 columns-nopad relative">
      <div class="large-3 columns small-3 relative">
      <div class="inline-block relative text-center details">Rating <strong><h3><div class="rating_score"><%= answer.rating_score %></div></h3></strong></div>
        <div class="inline-block relative text-center details">Comments <strong><h3><div><%= answer.commentarys.count %></div></h3></strong></div>
    </div>
    <div class="large-9 columns">
         <% answer.answer = answer.answer[0..44] + "..." unless answer.answer[44].nil? %>
        <!-- if the answer has more than 40 letters, add a ... and only show some of it -->
        <h4 class="answer_title"><%= link_to answer.answer.capitalize, post_path(answer.post) %></h4>
        <div class="relative right">
        <% if (answer.created_at > 2.day.ago) %>
               <%= time_ago_in_words(answer.created_at).capitalize %> ago </div>
        <% else %>
              on <%= answer.created_at.strftime("%m/%d/%Y at %I:%M%p") %></div>
        <% end %>
  </div>
</div>
</div>
<% end %>
<% if @pages > 1 %>
  <%= render partial: "pages", locals: {pages: @pages, current_page: @current_page} %>
<% end %>


