<h1>Word Ladder Game</h1>
<hr>
<br>
Fill in each step with a word that differs from the word in the previous step by no more than one character. Once you reach a word that differs from the goal by only one letter, you can stop and leave the remainder of the steps empty.
<br>
<br>

<%= form_tag(display_path, method: "get") do  %>
    Start: <%= @step0 %>
    <br>
	1:<%= text_field_tag(:step1) %>
	<br>
	2:<%= text_field_tag(:step2) %>
	<br>
	3:<%= text_field_tag(:step3) %>
	<br>
	4:<%= text_field_tag(:step4) %>
	<br>
	5:<%= text_field_tag(:step5) %>
	<br>
	Goal : <%= @goal %>
	<br>
	<%= submit_tag("Run it!") %>
<% end %>
<br>
