<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar="" role="navigation">
  <section class="top-bar-section shift-nav-up">
  <ul class="left">
    <li class="name"><%= link_to 'Home', root_path %></li>
    <li class="divider"></li>
  </ul>
  </section>
  <section class="top-bar-section middle-nav shift-nav-up">
  <ul class="left">
    <li class="has-form">
      <%= render partial: "posts/title_search" %>
    </li>
    <li class="divider"></li>
     <li class="has-dropdown not-click"><a href="#">Personal</a>
        <ul class="dropdown">
        <% if user_signed_in? %>
            <li><a href="#">My Posts</a></li>
            <li><a href="#">My Answers</a></li>
          <% else %>
            <li><%=link_to("My Posts", new_user_session_path, data: { confirm: 'You must sign in to see your posts...would you like to sign in?' }) %></li>
            <li><%=link_to("My Answers", new_user_session_path, data: { confirm: 'You must sign in to see your answers...would you like to sign in?' }) %></li>
          <% end %>
        </ul>
        <li class="divider"></li>
      </li>
    </ul>
  </section>
  <% if user_signed_in? %>
    <!-- <a href="/users/edit" id="nav-button" class="button split secondary float-right"> -->
    <a href="#" data-dropdown="drop1" id="nav-button" class="button dropdown secondary float-right">
      <%= render partial: "devise/images/image", locals: {resource: current_user, size: "30x30", style: "margin-top: -2px;"} %>
    </a>
    <ul id="drop1" class="f-dropdown">
      <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    </ul>
  <% else %>
    <h6><%=link_to("Login", new_user_session_path , {:id => "nav-button", :class => "button secondary float-right"})%></h6>
  <% end %>
  <div class="top-bar-section">
    <ul>
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>