<%= form_for(@doi_object) do |f| %>
  <% if @doi_object.errors.any? %>
    <div id="error_explanation" class="center">
      <h2><%= pluralize(@doi_object.errors.count, "error") %> prohibited this doi_object from being saved:</h2>

      <ul>
      <% @doi_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-align center">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field text-align center">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <% if  @dont_show_urls.nil? %>
    <%= f.fields_for :url_objects do |url_form| %>
      <div class="field text-align center">
        <%= url_form.label :url %><br>
        <%= url_form.text_field :url %>
      </div>
    </div>
  <% end %>
<% end %>
  <div class="actions text-align">
    <%= f.submit %>
  </div>
<% end %>
