<h1 class="text-align"><%= @url_objects[0].doi_object.name.capitalize + " URL History" %></h1>
<div class="row">
  <div class="col-md-12">
   <table class="table table-striped">
  <thead>
    <tr>
      <th class="text-align">URL</th>
      <th class="text-align">Date and Time Created</th>
    </tr>
  </thead>

  <tbody>
<% @url_objects.each_with_index do |url, index| %>
	<tr>
        <td class="text-align"><%= url.url %></td>
        <td class="text-align"><%= url.created_at.to_s.chomp('UTC') %></td>
	</tr>
    <% end %>
    </tbody>
</table>
<div style="height:10px;">
<div class="pull-left left-pad"><%= link_to 'Back', doi_object_path %></div>
<div class="pull-right right-pad"><%= link_to "Show All DOI's", doi_objects_path %></div>
</div>

<!-- if doi.find_by(doi_string: self.string)
generate new DOI
end 
allow to search by reg expression to find similar URLs
allow them to click on any URL and send them to that URL

allow them to click all URL's and direct them there

edit notices

border-radius: 10px on body-->