<h1 class="text-align"><%= @url_objects[0].doi_object.name %></h1>
<div class="row">
  <div class="col-md-12">
   <table class="table table-striped">
  <thead>
    <tr>
      <th class="text-align">URL</th>
      <th class="text-align">Date and Time Created</th>
    </tr>
  </thead>

  <tbody>
<% @url_objects.each_with_index do |url, index| %>
	<tr>
        <td class="text-align"><%= url.url %></td>
        <td class="text-align"><%= url.created_at.to_s.chomp('UTC') %></td>
	</tr>
    <% end %>
    </tbody>
</table>
<div class="pull-left" style="margin-left: 10px"><%= link_to 'Back', doi_object_path %></div>
<div class="pull-right" style="margin-right: 10px"><%= link_to "Show All DOI's", doi_objects_path %></div>
