<div class="row">
  <div class="col-md-12">
<p id="notice" class="text-align"><%= notice %></p>

<h1 class="text-align"> <%= @doi_object.name.capitalize %> </h1>

<p class="text-align">
  <strong>Description:</strong>
  <%= @doi_object.description %>
</p>

<p class="text-align">
  <strong>DOI:</strong>
   <%= link_to @doi_object.doi, @doi_object.url_objects.last(2)[0].url %>
   <%# the last url is a null one..so we get the last 2 and reference the first one with [0] %>
</p>

<p class="text-align">
  <strong>Most Recent URL:</strong>
  <%= @doi_object.url_objects.last(2)[0].url  %>
  <% if @render_url_form.nil? %>
  <%= render 'url_objects/form' %>
  <% end %>
</p>



<%# link_to 'Edit URL', edit_url_object_path(@doi_object.url_objects.last(2)[0]) %>
<%# link_to "Edit #{@doi_object.name}", edit_doi_object_path(@doi_object) %>
<%#...only keep above if I want to actually EDIT a specific URL%> 
<div style="height:10px;">
<div class="pull-left left-pad"><%= link_to "All #{@doi_object.name} url's", all_doi_urls_path(@doi_object) %> 
</div> 
<div class="pull-right right-pad"><%= link_to "Show All DOI's", doi_objects_path %> 
</div>
</div>
</div>
</div>


