  <% rating = get_rating(resource, current_user.id) %> <!-- application controller helper function -->
  <% if resource.is_a?(Answer) %>
    <% @create_up_rate_path = create_rating_path(answer_id: resource.id, user_id: current_user.id, rate: 1, post_id: @post.id) %>
    <% @create_down_rate_path = create_rating_path(answer_id: resource.id, user_id: current_user.id, rate: -1, post_id: @post.id) %>
    <% unless rating.nil? %>
      <% @up_path = update_rating_path(answer_id: resource.id, rate: 1, post_id: @post.id, id: rating.id) %>
      <% @down_path = update_rating_path(answer_id: resource.id, rate: -1, post_id: @post.id, id: rating.id) %>
    <% end %>
  <% elsif resource.is_a?(Post) %>
    <% @create_up_rate_path = create_rating_path(user_id: current_user.id, rate: 1, post_id: @post.id) %>
    <% @create_down_rate_path = create_rating_path(user_id: current_user.id, rate: -1, post_id: @post.id) %>
    <% unless rating.nil? %>
      <% @up_path = update_rating_path(rate: 1, post_id: @post.id, id: rating.id) %>
      <% @down_path = update_rating_path(rate: -1, post_id: @post.id, id: rating.id) %>
    <% end %>
  <% end %>

  <% if resource.current_user_rating(current_user, rating) == nil %>
      <div class="inline-block shrink long">
      <div class="inline-block"><%= link_to((image_tag root_url + "/images/" + "arrow_hollow.png", :class => "fa-rotate-270 inline-block", id: "up-arrow"), @create_up_rate_path, method: :post) %> </div>
      <div class="circle inline-block">  <%= @post.rating_score %></div> 
      <div class="inline-block "><%= link_to((image_tag root_url + "/images/" + "arrow_hollow.png", :class => "fa-rotate-90 inline-block", id: "down-arrow"), @create_down_rate_path, method: :post) %></div>
      </div>
  <% elsif resource.current_user_rating(current_user, rating) == 1 %>
        <div class="inline-block shrink long">
        <div class="inline-block"><%= link_to((image_tag root_url + "/images/" + "arrow_hollow.png", :class => "fa-rotate-270 inline-block invisible", id: "up-arrow"), @up_path, method: :patch) %></div>
      <div class="circle inline-block">  <%= @post.rating_score %></div> 
      <div class="inline-block "><%= link_to((image_tag root_url + "/images/" + "arrow_hollow.png", :class => "fa-rotate-90 inline-block", id: "down-arrow"), @down_path, method: :patch )%></div>
      </div>
  <% else %>
        <div class="inline-block shrink long">
      <div class="inline-block"><%= link_to((image_tag root_url + "/images/" + "arrow_hollow.png", :class => "fa-rotate-270 inline-block", id: "up-arrow"), @up_path, method: :patch) %></div>
      <div class="circle inline-block">  <%= @post.rating_score %></div> 
      <div class="inline-block "><%= link_to((image_tag root_url + "/images/" + "arrow_hollow.png", :class => "fa-rotate-90 inline-block invisible", id: "down-arrow"), @down_path, method: :patch )%></div>
      </div>
  <% end %>
