<%= puts comment.id %>
<%= current_user.id %>
  <% rating = get_rating(comment.id, current_user.id) %>
  <% if comment.current_user_rating(current_user, rating) == nil %>
    <span><%= link_to ("Yes"), comment_ratings_path(comment, user_id: current_user.id, rate: 1, post_id: @post.id), method: :post %></span>
    <span><%= link_to ("No"), comment_ratings_path(comment, user_id: current_user.id, rate: -1, post_id: @post.id), method: :post %></span>
  <% elsif comment.current_user_rating(current_user, rating) == 1 %>
    <span><%= link_to ("No"), rating_path(comment_id: comment.id, rate: -1, post_id: @post.id, id: rating.id), method: :patch %></span>
  <% else %>
    <span><%= link_to ("Yes"), rating_path(comment_id: comment.id, rate: 1, post_id: @post.id, id: rating.id), method: :patch %></span>
  <% end %>
  <%= comment.rating_score %>
