<h1>Editing image</h1>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= image_tag root_url + "/images/" + @image.filename, size: "100x100", alt: @image.filename %>
<br>
<br>

<%= render 'form' %>
Tags
<% @image.tags.each do |tag| %>
<%= form_tag(tag_path(tag), method: :delete) do %>
		<%= hidden_field_tag :image_id, @image.id %> <!-- passing in image_id in hidden form  to the delete controller -->
		<%= hidden_field_tag :view, "edit" %> <!-- passing in image_id in hidden form  to the delete controller -->
		<%= submit_tag (tag.tag_string), data: { confirm: "Are you sure you want to delete the tag #{tag.tag_string}?" } %>
		<% end %>
<% end %>
<br>

<%= link_to 'Show', @image %> |
<%= link_to 'Back', images_path %>
