<div class ="center"><%= image_tag root_url + "/images/" + @image.filename, size: "100x100", alt: @image.filename %></div>
<br>
<br>

<div class ="center"><%= render 'form' %></div>
<h3 class="text-align"><%= @t %></h3>
<% @image.tags.each do |tag| %>
<div class ="center"><%= form_tag(tag_path(tag), method: :delete) do %>
		<%= hidden_field_tag :image_id, @image.id %> <!-- passing in image_id in hidden form  to the delete controller -->
		<%= hidden_field_tag :view, "edit" %> <!-- passing in image_id in hidden form  to the delete controller -->
		<a><%= link_to "#" + tag.tag_string, controller: "images", action: "search_tag", tag_string: tag.tag_string %></a>
		<%= submit_tag ("X"), data: { confirm: "Are you sure you want to delete the tag #{tag.tag_string}?" } %>
		<% end %>
		</div>
<% end %>
<br>
<div class ="center">
<%= link_to 'Show', @image %> |
<%= link_to 'Delete', @image, method: :delete, data: { confirm: 'Are you sure you want to delete this image?' } %> |
<%= link_to 'Home', images_path %>
</div>