<nav class="center">
<h3 class="text-align" style="margin-right: 14px;"><%= link_to 'Upload New Image', new_image_path %></h3>
<br>
<ul>
<li><%= link_to "My Images", root_path(anchor: "my") %></li>
<li><%= link_to "Public Images", root_path(anchor: "public") %></li>
<li><%= link_to "Shared Images", root_path(anchor: "shared") %></li>
</ul>
</nav>
<br>
<br>
<div class="text-align pull-left">
<%= form_tag(image_tag_search_path, method: "get") do %>
  <!-- adding spaces to the left of the place holder -->
  <% placeholder = "Search by Tags".rjust(20) %> 
  <%= text_field_tag(:tag_string, nil, placeholder: placeholder) %>
  <%= submit_tag("Search") %>
<% end %>
</div>
<div class="text-align pull-right">
<%= form_tag(image_user_search_path, method: "get") do %>
  <%= submit_tag("Search") %>
  <!-- adding spaces to the left of the place holder -->
  <% placeholder = "Search by Name".rjust(20) %>
  <%= text_field_tag(:user_name, nil, placeholder: placeholder) %>
<% end %>
</div>
<br>
<br>

<% if @images.length > 0 %>
<h2 id ="public" class="text-align">All Public Images</h2>

<table class="center table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Picture<th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>

    <% @images.each do |image| %>
      <tr>
      <td></td>
      <td><%= link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image_path(image) %><td>
      
        <td><%= image.user.name %></td>

        <% if !current_user.nil? && image.user == current_user %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<% if @my_images.length > 0 %>
<h2 id="my" class="text-align">My Images</h2>

<table class="center table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Picture<th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @my_images.each do |image| %>
      <tr>
      <td></td>
      <td><%= link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image_path(image) %><td>
        <% if !current_user.nil? && image.user == current_user %>
        <td><%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure you want to delete this image?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<% if @access_images.length > 0 %>
<h2 id="shared" class="text-align">Images Shared With Me</h2>

<table class="center table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Picture<th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @access_images.each do |image| %>
      <tr>
      <td></td>
      <td><%= link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image_path(image) %><td>
        <td><%= image.user.name %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
<% end %>
<br>

<h3 class="text-align"><%= link_to 'Upload New Image', new_image_path %></h3>