<div class="center">
<%= form_tag(image_tag_search_path, method: "get") do %>
  <%= label_tag(:tag_string, "Tag Search") %>
  <%= text_field_tag(:tag_string) %>
  <%= submit_tag("Search") %>
<% end %>
</div>

<h3 class="text-align">Images That Match The Tag '<%= @tag_string %>'</h3>

<table class="center table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Picture<th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @images.size.times do |index| %>
      <tr>
      <td></td>
      <td><%= link_to (image_tag root_url + "/images/" + @images[index][0].filename, size: "100x100", alt: @images[index][0].filename), image_path(@images[index][0]) %><td>
        <td><%= @images[index][0].user.name %></td>

        <% if !current_user.nil? && @images[index][0].user == current_user %>
        <td><%= link_to 'Delete', @images[index][0], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class ="center">
<%= link_to 'Home', root_path %>
</div>