<div class="center">
<%= form_tag(image_user_search_path, method: "get") do %>
  <%= label_tag(:user_name, "User Search") %>
  <%= text_field_tag(:user_name) %>
  <%= submit_tag("Search") %>
<% end %>
</div>

<h3 class="text-align">Images Owned by <%= @user.capitalize %></h3>

<table class="center table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Picture<th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>

    <% @access_images.each do |image| %>
      <tr>
      <td></td>
      <td><%= link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image_path(image) %><td>
        <td><%= image.user.name.capitalize %></td>

        <% if !current_user.nil? && image.user == current_user %>
        <td><%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class ="center">
<%= link_to 'Home', root_path %>
</div>