<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= form_tag(image_tag_search_path, method: "get") do %>
  <%= label_tag(:tag_string, "Tag Search") %>
  <%= text_field_tag(:tag_string) %>
  <%= submit_tag("Search") %>
<% end %>

<h1>Images that match the tag '<%= @tag_string %>'</h1>

<table>
  <thead>
    <tr>
      <th>Picture<th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @images.each_with_index do |image, index| %>
    <!-- images is an array of images that match the search...we must index it starting from 0...'index' == 1 in the firs iteration so we use index -1 to get the images we want -->
      <tr>
      <td><%= link_to (image_tag root_url + "/images/" + image[index-1].filename, size: "100x100", alt: image[index-1].filename), image_path(image[index-1]) %><td>
        <td><%= image[index-1].user.name %></td>

        <% if !current_user.nil? && image[index-1].user == current_user %>
        <td><%= link_to 'Edit', edit_image_path(image[index-1]) %></td>
        <td><%= link_to 'Destroy', image[index-1], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>