<% if @just_created_image %>
   <h3 class="text-align"><%= link_to 'Upload Another Image?', new_image_path %></h3>
<% end %>
<p class="center">
  <strong><%= @visibility + " "%> Photo</strong>
</p>

<div class="center"><%= image_tag root_url + "/images/" + @image.filename, size: "400x400", alt: @image.filename %></div>
<p class="center">
  <strong>Owner:</strong>
  <%= @image.user.name.capitalize %>
</p>
<hr>
<div class ="center"><%= render 'tags/form' %></div>
<h3 class="center" id="submit"><%= @t %></h3>
<% @image.tags.each do |tag| %>
<div class ="center"><%= form_tag(tag_path(tag), method: :delete) do %>
		<%= hidden_field_tag :image_id, @image.id %> <!-- passing in image_id in hidden form  to the delete controller -->
		<%= hidden_field_tag :view, "show" %> <!-- passing in image_id in hidden form  to the delete controller -->
		<% if !current_user.nil? && @image.user == current_user %>
			<a><%= link_to "#" + tag.tag_string, controller: "images", action: "search_tag", tag_string: tag.tag_string %></a>
			<%= submit_tag ("X"), data: { confirm: "Are you sure you want to delete the tag #{tag.tag_string}?" } %>
			<br>
			<br>
		<% else %>
		   <a id="submit"><%= link_to "#" + tag.tag_string, controller: "images", action: "search_tag", tag_string: tag.tag_string %></a>
		    <br>
		    <br>
		<% end %>
		<% end %>
		</div>
<% end %>
<hr>
<% if !current_user.nil? && @image.user == current_user %>
<div class ="center"><%= button_to "Toggle Private/Public", action: "change_visibility" %></div>
	<br>
	<% if !@image.public && @excluded_users.length > 0 %>
		<div class ="center"><%= form_tag(create_image_user_path(@image), method: :post) do %>
			<% users_array = @excluded_users.map { |user| [user.name + " " + user.email, user.id] } %> 
			<!--the first argument is what will be shown, the second argument is the value of that slot in the array -->
			<%= select_tag(:user_id, options_for_select(users_array)) %>
			<!-- setting it to user_id so we can access that in the create imageUser controller as params[:user_id] -->
			<%= submit_tag("Give Access") %>
		<% end %>
		</div>
	<% end %>
	<hr>
	<% if @included_users.length > 0 && !@image.public %>
	<div class ="center">Users who have access to this picture</div>
	<br>
		<% @included_users.each do |user| %>
		<div class ="center"><%= form_tag(destroy_image_user_path(@image), method: :delete) do %>
		<%= hidden_field_tag :user_id, user.id %> <!-- passing in user_id in hidden form  to teh delete controller -->
		<%= user.name.capitalize + ", " + user.email%>
		<%= submit_tag ("X"), data: { confirm: "Are you sure you want to delete #{user.name}'s access?" } %>
		<% end %>
		</div>
        <br>
        <% end %>
    <% end %>
<% end %>
<br>
<br>
<div class ="center">
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Home', images_path %>
</div>
