<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<p>
  <strong>Filename:</strong>
  <%= @image.filename %>
</p>

<p>
  <strong>Public:</strong>
  <%= @image.public %>
</p>

<%= image_tag root_url + "/images/" + @image.filename, size: "100x100", alt: @image.filename %>
<p>
  <strong>User:</strong>
  <%= @image.user.name %>
</p>

<% @image.tags.each do |tag| %>
     <p><%= tag.tag_string %></p>
<% end %>

<%= render 'tags/form' %>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
