<div class="small-panel bottom padding-top center panel-small">
<% if my_posts == true %>
	<% if current_page > 1 %>
	<%= link_to "<< ", my_posts_path(current_user, page: 1) %>
	<%= link_to my_posts_path(current_user, page: current_page -1 ) do %>
			<i class="step fi-rewind"></i>
		<% end %>
	<% end %>
		<%= link_to current_page, my_posts_path(current_user, page: current_page) %>
	<% unless current_page >= pages %>
	<%= link_to my_posts_path(current_user, page: current_page + 1 ) do %>
			<i class="step fi-fast-forward"></i>
		<% end %>
	<%= link_to " >>", my_posts_path(current_user, page: pages) %>
	<% end %>
<% elsif params[:title].nil? %>
	<% if  current_page > 1 %>
	<%= link_to "<< ", posts_path(page: 1) %>
		<%= link_to posts_path(page: current_page-1) do %>
			<i class="step fi-rewind"></i>
		<% end %>
	<% end %>
	<%= link_to current_page, posts_path(page: current_page) %>
	<% unless  current_page >= pages %>
		<%= link_to posts_path(page: current_page+1) do %>
			<i class="step fi-fast-forward"></i>
		<% end %>
	<%= link_to " >>", posts_path(page: pages) %>
	<% end %>
<% elsif !params[:title].nil? %>
	<% if current_page > 1 %>
	<%= link_to "<< ", title_search_path(resource: params[:resource], page: 1, title: params[:title], answered: params[:answered], :filter => params[:filter], commit: "Lookup") %>
		<%= link_to title_search_path(resource: params[:resource], page: current_page-1, title: params[:title], answered: params[:answered], :filter => params[:filter], commit: "Lookup") do %>
			  <i class="step fi-rewind"></i>
		<% end %>
	<% end %>
	<%= link_to current_page, title_search_path(resource: params[:resource], page: current_page, title: params[:title], answered: params[:answered], :filter => params[:filter], commit: "Lookup") %>
	<% unless current_page >= pages %>
		<%= link_to title_search_path(resource: params[:resource], page: current_page+1, title: params[:title], answered: params[:answered], :filter => params[:filter], commit: "Lookup") do %>
			  <i class="step fi-fast-forward"></i>
		<% end %>
	<%= link_to " >>", title_search_path(resource: params[:resource], page: pages, title: params[:title], answered: params[:answered], :filter => params[:filter], commit: "Lookup") %>
	<% end %>
<% end %>
</div>