   <%= form_tag(title_search_path(:page_offset => 0), method: "get") do  %>
      <div class="relative inline-block" id="title-search">
		<div class="inline-block"><%= text_field_tag :title, nil, placeholder: "Search posts by title" %></div>
		<a class="center" id="img-inside"><%= image_tag "https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/128/empty_filter.png", size: "20x20", :id => "filter-image"  %></a>
     </div>
      <div class="inline-block"><%= submit_tag("Lookup", :class => "button alert top absolute") %> %></div>
      <div class="hidden panel filters" id="filters-on"> <%= render "posts/filters" %></div>
  <% end %>