<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<%= render partial: "devise/images/image", locals: {resource: @post} %>
<% if @post.user.nil? || @post.user.status == "deleted" %>
<p>
  <strong>User:</strong>
   DELETED
</p>
<% else %>
<p>
  <strong>User:</strong>
  <%= @post.user.username %>
</p>
<% end %>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<% unless @post.user.nil? %>
<%= render partial: "donate", locals: {resource: @post} %>
<% end %>

<% @answers.each do |answer| %>
	<%= render partial: "devise/images/image", locals: {resource: answer} %>
	<% if answer.user.nil? || answer.user.status == "deleted"%>
		<div> <%= "DELETED" + " " + answer.created_at.strftime("Created on %m/%d/%Y at %I:%M%p") + " " + answer.answer %> 
		</div>
	<% else %>
		<div> <%= answer.user.username + " " + answer.created_at.strftime("Created on %m/%d/%Y at %I:%M%p") + " " + answer.answer %> </div>
	<% end %>

	<% if current_user.nil? %>
	<!-- when someone is not signed in and tries to rate -->
		<%= render partial: "ratings/rating_invalid", locals: {answer: answer} %>
	<% else %>
	<!-- when someone IS signed in...this user can rate -->
		<%= render partial: "ratings/rating_valid", locals: {answer: answer} %>
	<% end %>
	<% unless answer.user.nil? || answer.user.status == "deleted"%>
		<%= render partial: "donate", locals: {resource: answer} %>
		<% if answer.user == current_user %>
			<%= link_to 'Edit Answer', edit_answer_path(answer) %>
		<% end %>
	<% end %>
<% end %>

<br>



<div class ="center"><%= render 'answers/form' %></div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
