<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.username %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<% @comments.each do |comment| %>
	<div> <%= comment.user.username + " " + comment.created_at.strftime("Created on %m/%d/%Y at %I:%M%p") + " " + comment.comment %> </div>
	<% if current_user.nil? %>
	<!-- when someone is not signed in and tries to rate -->
		<%= render partial: "ratings/rating_invalid", locals: {comment: comment} %>
	<% else %>
	<!-- when someone IS signed in...this user can rate -->
		<%= render partial: "ratings/rating_valid", locals: {comment: comment} %>
	<%end%>
		<%= render partial: "donate", locals: {comment: comment} %>
<% end %>
<br>

<div class ="center"><%= render 'comments/form' %></div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
