<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<%= render partial: "devise/images/image", locals: {resource: @post} %>
<% if @post.user.nil? || @post.user.status == "deleted" %>
<p>
  <strong>User:</strong>
   DELETED
</p>
<% else %>
<p>
  <strong>User:</strong>
  <%= @post.user.username %>
</p>
<% end %>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<% unless @post.user.nil? %>
<%= render partial: "donate", locals: {resource: @post} %>
<% end %>

<% @comments.each do |comment| %>
	<%= render partial: "devise/images/image", locals: {resource: comment} %>
	<% if comment.user.nil? || comment.user.status == "deleted"%>
		<div> <%= "DELETED" + " " + comment.created_at.strftime("Created on %m/%d/%Y at %I:%M%p") + " " + comment.comment %> 
		</div>
	<% else %>
		<div> <%= comment.user.username + " " + comment.created_at.strftime("Created on %m/%d/%Y at %I:%M%p") + " " + comment.comment %> </div>
	<% end %>

	<% if current_user.nil? %>
	<!-- when someone is not signed in and tries to rate -->
		<%= render partial: "ratings/rating_invalid", locals: {comment: comment} %>
	<% else %>
	<!-- when someone IS signed in...this user can rate -->
		<%= render partial: "ratings/rating_valid", locals: {comment: comment} %>
	<% end %>
	<% unless comment.user.nil? || comment.user.status == "deleted"%>
		<%= render partial: "donate", locals: {resource: comment} %>
	<% end %>
<% end %>

<br>

<div class ="center"><%= render 'comments/form' %></div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
