 <i class="step fi-die-two fa-rotate-45"></i>
  <div class="row">
      <div class="panel">
        <h1><%=@post.title%></h1>
        <p>
	    <p class="text-right"><strong>Asked on: </strong>
		  <%= @post.created_at.strftime("%m/%d/%Y at %I:%M%p") %>
		</p>
      </div>
  </div>
   
  <div class="row">
    <div class="large-12 columns">
       
      <div class="row relative">
		<div class="large-2 columns small-3">
			<p> <% if @post.user.nil? || @post.user.status == "deleted" %>
					<h5 class="text-left"><strong>DELETED</strong></h5>
				<% else %>
					<div class="text-left overflow-scroll"><strong><%= @post.user.username %></strong></div>
				<% end %>
			</p>
			<div class="inline-block"><%= render partial: "devise/images/image", locals: {resource: @post.user, size: "80x80", style: "margin-top: -60px"} %></div>
			<% if current_user.nil? %>
			<!-- when someone is not signed in and tries to rate -->
				<%= render partial: "ratings/rating_invalid", locals: {resource: @post} %>
			<% else %>
			<!-- when someone IS signed in...this user can rate -->
			 <%= render partial: "ratings/rating_valid", locals: {resource: @post} %>
			<% end %>

			<p class="text-left small-text">Posts/Answers: <%= @post.user.posts.count + @post.user.answers.count%><br>
				Join Date: <%= @post.user.created_at.strftime("%m/%d/%Y") %><br>
				Location:  <%= @post.user.country%><%=", " + @post.user.state %>
			</p>
			<% unless @post.user.nil? %>
				<div><%= render partial: "donate", locals: {resource: @post} %></div>
			<% end %>
			<br>
		</div>
		<div class="large-10 columns replies">
			<p class="font-increase"><%= @post.content %></p>
			<hr>
		</div>
		<div class="large-9 columns replies">
			<% @comment_number = @post.commentarys.count%>
			<% if @comment_number == 1 %> <p clsss="small-text"><strong><%= @comment_number %> Comment </strong></p> <% end %>
			<% if @comment_number > 1 %> <p clsss="small-text"><strong><%= @comment_number %> Comments </strong></p></h6> <% end %>
			<% @post.commentarys.each do |comment| %>
				<div class="row ">
					<div class="small-12 columns ">
						<p class="small-text"><%= comment.comment %><strong><br><%= "- " + comment.user.username + " " + comment.created_at.strftime("%m/%d/%Y") %></strong> </p>
					</div>
				</div>
				<hr>
			<% end %>
			<% unless current_user.nil? %>
				<div class="large-10 columns">
					<div class="hidden" id="post_comment_form"><%= render :partial => 'commentarys/form', locals: {comment: @post_comment, comment_path: create_post_comment_path(post_id: @post.id, user_id: current_user.id)} %>
					</div>
				</div>
				<br>
				<br><br>
					<ul class="inline-list absolute bottom comment-right">
						<li><strong><a id="comment_on_post">Comment on Post</a></strong></li>
					</ul>
				<% end %>
			</div>
		</div>
      <hr id="new-post">

<% @answers.each do |answer| %>
	<div class="row relative">
		<div class="large-2 columns small-3 relative">
			<p> <% if answer.user.nil? || answer.user.status == "deleted" %>
					<h5 class="text-left"><strong>DELETED</strong></h5>
				<% else %>
					<div class="text-left overflow-scroll"><strong><%= answer.user.username %></strong></div>
				<% end %>
			</p>
			<p><%= render partial: "devise/images/image", locals: {resource: answer.user, size: "80x80",  style: "margin-top: -60px;"} %></p>
			<p class="text-left small-text">Posts/Answers: <%= answer.user.posts.count + answer.user.answers.count%><br>
				Join Date: <%= answer.user.created_at.strftime("%m/%d/%Y") %><br>
				Location:  <%= answer.user.country%><%=", " + answer.user.state %>
			</p>
			<% unless answer.user.nil? %>
				<div><%= render partial: "donate", locals: {resource: answer} %></div>
			<% end %>
		</div>
		<div class="large-10 columns">
			<p><%= answer.answer %></p>
			<% @comment_number = answer.commentarys.count%>
			<% if @comment_number == 1 %> <h6><strong><%= @comment_number %> Comment </strong></h6> <% end %>
			<% if @comment_number > 1 %> <h6><strong><%= @comment_number %> Comments </strong></h6> <% end %>
			<% answer.commentarys.each do |comment| %>
				<hr>
				<div class="row">
					<div class="small-12 columns" >
						<p><%= comment.comment %><strong><%= "--" + comment.user.username + " " + comment.created_at.strftime("%m/%d/%Y") %></strong></p>
					</div>
				</div>
			<% end %>
		</div>
		<div class="large-10 columns">
			<% unless current_user.nil? %>
				<ul class="inline-list">
					<% if answer.user == current_user %>
						<li><strong><%= link_to 'Edit Answer', edit_answer_path(answer) %></strong></li>
					<% end %>
						<li><strong><a class="comment_on_answer">Comment on Answer</a></strong></li>
				</ul>
				<div class="hidden answer_comment_form"><%= render :partial => 'commentarys/form', locals: {comment: @post_comment, comment_path: create_answer_comment_path(post_id: @post.id, user_id: current_user.id, answer_id: answer.id)} %>
				</div>
			<% end %>
			</div>
	</div>
<% end %>
 



















<% if current_user.nil? %>
<!-- when someone is not signed in and tries to rate -->
	<%= render partial: "ratings/rating_invalid", locals: {resource: @post} %>
<% else %>
<!-- when someone IS signed in...this user can rate -->
 <%= render partial: "ratings/rating_valid", locals: {resource: @post} %>
<% end %>



<% unless current_user.nil? || Answer.where(post_id: @post.id, user_id: current_user.id)[0] %> <!-- user already answered it before -->
	<div><%= render partial: 'answers/form' %></div>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
