<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<p>
 <strong>Contributions:</strong>
  <%= current_user.posts.count + current_user.answers.count%>
</p>
<%= render partial: "devise/images/image", locals: {resource: @post.user} %>
<p>
  <strong>Date Created:</strong>
  <%= @post.created_at.strftime("%m/%d/%Y at %I:%M%p") %>
</p>
<% if @post.user.nil? || @post.user.status == "deleted" %>
<p>
  <strong>User:</strong>
   DELETED
</p>
<% else %>
<p>
  <strong>User:</strong>
  <%= @post.user.username %>
</p>
<% end %>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<% unless @post.user.nil? %>
<%= render partial: "donate", locals: {resource: @post} %>
<% end %>
<% if current_user.nil? %>
<!-- when someone is not signed in and tries to rate -->
	<%= render partial: "ratings/rating_invalid", locals: {resource: @post} %>
<% else %>
<!-- when someone IS signed in...this user can rate -->
 <%= render partial: "ratings/rating_valid", locals: {resource: @post} %>
	<br>
	<a id="comment_on_post">Comment on Post</a>
	<br>
	<div id="post_comment_form" class="hidden"><%= render :partial => 'commentarys/form', locals: {comment: @post_comment, comment_path: create_post_comment_path(post_id: @post.id, user_id: current_user.id)} %>
	</div>
<% end %>

<% @post.commentarys.each do |comment| %>
	 <%= comment.comment %>
	 <br>
<% end %>


<% @answers.each do |answer| %>
	<hr>
	<%= render partial: "devise/images/image", locals: {resource: answer.user} %>
	<% if answer.user.nil? || answer.user.status == "deleted"%>
		<div> <%= "DELETED" + " " + answer.created_at.strftime("Created on %m/%d/%Y at %I:%M%p") + " " + answer.answer %> 
		</div>
	<% else %>
		<div> <%= answer.user.username + " " + answer.created_at.strftime("Created on %m/%d/%Y at %I:%M%p") + " " + answer.answer %> </div>
	<% end %>

	<% if current_user.nil? %>
	<!-- when someone is not signed in and tries to rate -->
		<%= render partial: "ratings/rating_invalid", locals: {resource: answer} %>
	<% else %>
	<!-- when someone IS signed in...this user can rate -->
		<%= render partial: "ratings/rating_valid", locals: {resource: answer} %>
		<br>
		<a class="comment_on_answer">Comment on Answer</a>
		<div class="answer_comment_form hidden"><%= render :partial => 'commentarys/form', locals: {comment: @post_comment, comment_path: create_answer_comment_path(post_id: @post.id, user_id: current_user.id, answer_id: answer.id)} %>
		</div>
	<% end %>
	<% unless answer.user.nil? || answer.user.status == "deleted"%>
		<%= render partial: "posts/donate", locals: {resource: answer} %>
		<% if answer.user == current_user %>
			<%= link_to 'Edit Answer', edit_answer_path(answer) %>
		<% end %>
		<br>
	<% end %>

	<% answer.commentarys.each do |comment| %>
	 <%= comment.comment %>
	 <br>
	<% end %>
<% end %>
<hr>
<br>

<% unless Answer.where(post_id: @post.id, user_id: current_user.id)[0] %>
	<div class ="center"><%= render partial: 'answers/form' %></div>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
