 <i class="step fi-die-two fa-rotate-45"></i>
  <div class="row">
      <div class="panel">
        <h2><%=@post.title%></h2>
        <p>
	    <p class="text-right"><strong>Asked on: </strong>
		  <%= @post.created_at.strftime("%m/%d/%Y at %I:%M%p") %>
		</p>
      </div>
  </div>
<%= render partial: "posts/posts_or_answers", locals: {resource: @post} %>
<% @answers.each do |answer| %>
	<%= render partial: "posts/posts_or_answers", locals: {resource: answer} %>
<% end %>

<% unless current_user.nil? || Answer.where(post_id: @post.id, user_id: current_user.id)[0] %> <!-- user already answered it before -->
	<div><%= render partial: 'answers/form' %></div>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
