<h2 class="text-align">Sign up</h2>

<div class="center"><%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field center">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field center">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field center">
    <%= f.label :password %></br>
    <% placeholder = @minimum_password_length.to_s + "characters minimum" %>
    <%= f.password_field :password, autocomplete: "off", placeholder: placeholder %> 
  </div>

  <div class="field center">
    <%= f.label :password_confirmation %><br />
    <div class="center"><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
  </div>

  <div class="actions center">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>

<div class="center"><%= render "devise/shared/links" %></div>
