<!DOCTYPE html>
<html>
<div id="user_nav" class="center">
<% if user_signed_in? %>
Signed in as <%= current_user.email %>. Not you?
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% end %>
</div>
<div class="notice text-align" id="notice"><%= notice %></div>
<div class="alert text-align" id="alert"><%= alert %></div>
<div class="text-align title">FingerFace.com</div>
<head>
  <title>Img</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<br>
<%= yield %>

</body>
</html>
