<div class="registration">
<%= image_tag root_url + "/images/favicon.ico", size: "100x100", :class => 'center'%>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.text_field :username, autofocus: true, placeholder: "Username" %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email"  %>
  </div>

  <div class="field">
    <% placeholder = "Password..." + @minimum_password_length.to_s + " character minimum" %>
    <br>
    <%= f.password_field :password, autocomplete: "off", placeholder: placeholder %> 
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Re-Enter Password"  %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => "button alert full-width" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
<div class="landing-icons">
<div class="relative"><h1 id="pitch" ><strong>Get smarter & make money on the side!</strong></h1></div>
<div class="inline-block relative"><i class="step fi-comment-quotes"></i><div class="intro absolute inline-block"><h1>&nbsp;&nbsp;&nbsp;Post Questions</h1></div></div> <br>
<div class="inline-block relative"><i class="step fi-clipboard-pencil"></i><div class="intro absolute inline-block"> <h1>&nbsp;&nbsp;&nbsp;Submit Answers</h1></div></div> <br>
<div class="inline-block relative"><i class="step fi-dollar"></i>
 <i class="step fi-dollar"></i><div class="intro absolute inline-block"><h1>&nbsp;&nbsp;Get Paid</h1> </div></div>
 </div>
