<%= form_for(@doi_object) do |f| %>
  <% if @doi_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doi_object.errors.count, "error") %> prohibited this doi_object from being saved:</h2>

      <ul>
      <% @doi_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
    <%= f.fields_for :url_objects do |url_form| %>
    <h3>New URL</h3>
    <div style="margin-left:30px;">
      <div class="field">
        <%= url_form.label :url %><br>
        <%= url_form.text_field :url %>
      </div>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
