<h1>Listing doi_objects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doi_objects.each do |doi_object| %>
      <tr>
        <td><%= doi_object.name %></td>
        <td><%= doi_object.description %></td>
        <td><%= link_to 'Show', doi_object %></td>
        <td><%= link_to 'Edit', edit_doi_object_path(doi_object) %></td>
        <td><%= link_to 'Destroy', doi_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doi object', new_doi_object_path %>
