<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doi_object.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @doi_object.description %>
</p>

<p>
<% @url = @url_objects.url %>
  <strong>DOI:</strong>
   <%= link_to @doi_object.doi, @url %>
</p>

<p>
  <strong>URL:</strong>
<%= @url_objects.url %>
</p>

<%= link_to 'Edit', edit_doi_object_path(@doi_object) %> |
<%= link_to 'Back', doi_objects_path %>
