<%= (image_tag root_url + "/images/question_guy.jpg", size: "450x450", :id=> "question_guy", :class => "absolute right center") %>
<div class="new-session panel">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'center'}) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? &&  @submit_message == "Log in"-%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit @submit_message, :class => "button full-width login" %>
  </div>
<% end %>
<div class="center"><%= render "devise/shared/links" %></div>
</div>
